* {
  margin: 0;
  padding: 0;
}



header {
  background-color: #00002A;
  text-transform: uppercase;
  border-bottom: 2px solid violet;
}

h1 {
  text-align: center;
  font-size: 6rem;
  color: white;
}

ul {
  padding: 50px ;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: white;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

h2 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 3rem;
  color:white
}

main {
  padding: 100px;
  background-image: url(../public/5868032.jpg);
  background-size: cover;
}

.flex {
  display: flex;
  justify-content: space-around;

}

article {
  border: 2px solid aqua;
  padding:10%;
  text-align: center;
}

p {
  color: white;
}

.footer {
  padding: 200px;
  text-align: center;
  padding: 30px;
  background-color: #00002A;
  color: white;
  border-top: 2px solid aqua;
}