* {
  margin: 0;
  padding: 0;
}

header {
  background-color: aqua;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-size: 6rem;
}

ul {
  padding: 50px ;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

h2 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 3rem;
}

main {
  padding-top: 100px;
}

.flex {
  display: flex;
  justify-content: space-around;

}

article {
  border: 2px solid aqua;
  padding:10%;
  text-align: center;
}

.footer {
  margin-top: 200px;
  text-align: center;
  padding: 30px;
  background-color: aqua;
}